.seleccionesR, .seleccionesSR, .seleccionesRB {
  display: inline-block;
  width: auto;
}

.cuadroSelecciones {
  background-color: black;
}

.regionalBlocs {
  width: 400px;
}

button {
  margin: 10px;
}
